@charset "utf-8";

/* fonts import */
@import url(http://fonts.googleapis.com/css?family=Cuprum:400,400italic,700,700italic&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);

/* reset by medic */
* {padding:0; margin:0;}
img {border:0 none;}
div {display:block; position:relative;}
ul {list-style: none;}
.hidden {display: none;}
.clr:after {display:none; position:relative; content:' '; color:transparent; font-size:0; line-height:0; clear:both;}

body {background: #fff; font-family: 'Cuprum', sans-serif; font-weight: 400;}

/* wrapper */
.wrapper {width: 980px; margin: 0 auto; background: #fff;}

/* up_banner */
.up_banner {width: 980px; height: 89px;}

/* main_nav */
.main_nav {overflow: hidden;}
	.main_nav ul {text-align: center; background-color: #f3f5f6; border-bottom: 1px solid #fff;}
	.main_nav li {display: inline-block; text-align: center; padding: 0 24px; border-right: 1px solid #e8e8e8;}
	.main_nav li:first-child {border-left: 1px solid #e8e8e8;}
	.main_nav a {display: block; position: relative; text-decoration: none; font-size: 14px; line-height: 36px; height: 36px; color: #000;}
	.main_nav a:hover {background-color: #fdfdfd;}

/* header */
.header {overflow: hidden; background-color: #d9e69a;}
	.header .h_logo {display: block; position: relative; float: left; margin: 42px 38px 17px 0;}

	.header .h_search {display: block; position: relative; float: left;}
	.header .h_search ul {margin-top: 18px;}
	.header .h_search li {display: inline-block; text-align: center;}
	.header .h_search a {display: block; position: relative; padding: 0 10px; text-decoration: none; font-size: 11px; line-height: 21px; height: 21px; color: #a1ad69;}
	.header .h_search a:hover {}
	.header .h_search .h_active {background-color: #a1ad69; color: #fff;}

	.header .h_search form {}
	.header .h_search form .h_field {width: 452px; height: 30px; line-height: 30px; font-size: 12px; font-style: italic; color: #c4c4c4; padding-left: 10px; border: 1px solid #a1ad69;}
	.header .h_search form .h_find {margin-left: -5px; height: 29px; cursor: pointer; padding: 0 12px; font-size: 14px; color: #fff; background-color: #7bad3e; border: 1px solid #a1ad69;}

	.header .sign_wrapper {display: block; position: relative; float: right; overflow: hidden; margin-top: 40px;}
	.header .sign_wrapper .h_sign {display: block; position: relative; float: left; border: 1px solid #7c874b;}
	.header .sign_wrapper .h_sign a {text-decoration: none; color: #7c874b; background: url(../img/lock.png) 10px 8px no-repeat; font-size: 14px; line-height: 28px; height: 28px; padding: 7px 10px 7px 34px;}
	.header .sign_wrapper .h_or {display: block; position: relative; float: left;}
	.header .sign_wrapper .h_or p {margin: 0 10px; line-height: 30px; height: 30px; font-size: 14px; color: #7c874b;}
	.header .sign_wrapper .h_reg {display: block; position: relative; float: left;}
	.header .sign_wrapper .h_reg a {text-decoration: none; color: #fff; background: url(../img/key.png) 7px 8px no-repeat, #ff8d0f; font-size: 14px; line-height: 30px; height: 30px; padding: 7px 10px 7px 30px;}

/* nav */
.nav {overflow: hidden; background-color: #81b048;}
	.nav .button_left {display: block; position: relative; float: left; margin: 22px 0;}
	.nav .button_right {display: block; position: relative; float: right; margin: 22px 0;}

	.nav .nav_nav {display: block; position: relative; float: left; text-align: center;}
	.nav .nav_nav ul {height: 36px; line-height: 36px; text-align: center; margin: 0 18px;}
	.nav .nav_nav ul:last-child {border-top: 1px solid #a4c67b;}
	.nav .nav_nav li {display: inline-block; text-align: center; padding: 0 12px; border-right: 1px solid #fff; line-height: 14px;}
	.nav .nav_nav li:last-child {border-right: none;}
	.nav .nav_nav a {display: block; position: relative; text-decoration: none; font-size: 14px; color: #fff;}

.button1 a {text-decoration: none; color: #fff; background: linear-gradient(to top, #ffba12, #ffe801); font-size: 14px; line-height: 30px; height: 30px; padding: 7px 12px;}

/* context_adv */
.context_adv {border: 1px solid #dadada; margin-top: 36px;}
	
	.adv_uls {overflow: hidden;}
	.context_adv .simple {display: block; position: relative; float: left; margin: 18px 0 18px 10px; width: 200px; line-height: 24px; color: #668ba7; list-style: disc; padding-left: 25px;}
	.context_adv .simple a {font-size: 14px; color: #668ba7;}
	.context_adv .simple a:hover {text-decoration: none;}

	.context_adv .advanced {float: right; width: 230px; margin: 4px 0 18px 0px;}
	.context_adv .advanced li {background: url(../img/adv_icon.png) 0 0 no-repeat; margin-top: 12px; padding-left: 82px; height: 74px; padding-bottom: 18px;}
	.context_adv .advanced li:first-child {border-bottom: 1px solid #676767;}
	.context_adv .advanced li:last-child {}
	.context_adv .advanced a {font-size: 12px; line-height: 22px; color: #676767; text-decoration: none;}

	.context_adv .adv_buttons {overflow: hidden;}
	.context_adv .button_left {display: block; position: relative; float: left; margin: 0 0 19px 17px;}
	.context_adv .button_right {display: block; position: relative; float: right; margin: 0 17px 19px 0;}

/* gree_line */
.gree_line {border-top: 1px solid #cddfb6; margin: 35px 0 30px 0;}
.dotted_line {border-top: 1px dotted #cddfb6; margin: 26px 0 30px 0;}

/* common styles */
.content_title {background: url(../img/title_shadow.png) 100% 50% no-repeat;}
.content_title h6 {font-size: 30px; font-weight: 400; line-height: 30px;}

.content_links ul {text-align: center; margin: 16px 0 28px 0;}
.content_links li {display: inline-block; margin-left: 10px; padding-right: 15px; background: url(../img/li_delimiter.png) 100% 50% no-repeat;}
.content_links li:first-child {margin-left: 0;}
.content_links li:last-child {background: none; padding-right: 0;}
.content_links a {font-size: 14px; line-height: 24px; color: #668ba7;}
.content_links a:hover {text-decoration: none;}

/* news_wrapper */
.news_wrapper {}
	.news_advanced {overflow: hidden;}
		.news_one {display: block; position: relative; float: left; width: 480px;}
		.news_one h2 {font-weight: 400; font-size: 24px; line-height: 28px; color: #000; margin: 17px 0;}
		.news_one h2 b {font-size: 14px; color: #81b048;}
		.news_one p {font-family: 'Open Sans', sans-serif; font-size: 14px; line-height: 20px; color: #676767; margin-bottom: 20px;}
			.news_read_all {overflow: hidden;}
				.news_read_all ul {display: block; position: relative; float: left;}
				.news_read_all li {display: inline-block; padding-left: 15px; font-size: 10px; line-height: 14px; font-family: 'Open Sans', sans-serif; color: #676767;}
				.news_read_all .comments {background: url(../img/commet_watch.png) 0 2px no-repeat; margin-right: 6px;}
				.news_read_all .watches {background: url(../img/commet_watch.png) -36px 2px no-repeat;}

				.news_read_all .read_all {display: block; position:  relative; float: right;}
				.news_read_all .read_all a {font-family: 'Open Sans', sans-serif; font-size: 12px; line-height: 14px; color: #668ba7; padding-right: 22px; background: url(../img/arrow.png) 80px 6px no-repeat;}
				.news_read_all .read_all a:hover {text-decoration: none;}

		.news_block {display: block; position: relative; float: right; width: 460px; margin-left: 40px; overflow: hidden;}
			.news_small {height: 126px; padding-bottom: 20px; border-bottom: 1px solid #81b048; margin-top: 16px;}
			.news_small:first-child {margin-top: 0;}

			.news_small_img {display: block; position: relative; float: left; height: 126px; width: 148px; margin-right: 5px;}
			.news_small_desc {display: block; position: relative; float: right; width: 300px;}
			.news_small_desc h2 {font-weight: 400; font-size: 18px; line-height: 20px; color: #000; margin: 2px 0;}
			.news_small_desc h2 b {font-size: 12px; color: #81b048;}
			.news_small_desc p {font-family: 'Open Sans', sans-serif; font-size: 12px; line-height: 20px; color: #676767; margin-bottom: 20px;}

/* market_wrapper */
.market_wrapper {overflow: hidden;}
	.market {display: block; position: relative; float: left;}
		.market .market_nav {height: 21px; margin: 2px 0 19px 0;}
		.market .market_nav a {height: 21px; width: 21px; margin-right: 3px; background: url(../img/market_nav_not_active.png) 0 2px no-repeat; padding: 0 21px 21px 0; line-height: 21px;}
		.market .market_nav .market_nav_active {background: url(../img/market_nav_active.png) 0 0 no-repeat; margin-right: 7px;}
		.market .market_item_wrapper {overflow: hidden;}
					.market_item {display: block; position: relative; float: left; margin-right: 36px; width: 148px;}
					.market_item:last-child {margin-right: 0;}
					.market_item p {font-family: 'Open Sans', sans-serif; font-size: 12px; line-height: 18px; color: #676767; margin: 20px 0 2px 0;}
					.market_item b {background: url(../img/commet_watch.png) -34px 3px no-repeat; padding-left: 15px; font-family: 'Open Sans', sans-serif; font-size: 10px; line-height: 14px; color: #668ba7;}

	.marker_pr {display: block; position: relative; float: right; width: 248px; border: 1px solid #cddfb6; margin-top: 4px;}
		.marker_pr h2 {width: 248px; text-align: center; background: #cddfb6; line-height: 62px; font-weight: 400; font-size: 24px;}
		.marker_pr ul {margin: 10px 0 18px 10px; width: 180px; line-height: 24px; color: #668ba7; list-style: disc; padding-left: 25px;}
		.marker_pr a {font-size: 14px; color: #668ba7;}
		.marker_pr a:hover {text-decoration: none;}

/* flea_wrapper */
.flea_wrapper {}
	.flea {overflow: hidden;}
		.flea_items {display: block; position: relative; float: left; overflow: hidden; width: 700px;}
		.flea_items .flea_item {display: block; position: relative; float: left;}
		.flea_items .flea_item a {background: url(../img/flea_item.png) 0 2px no-repeat; padding: 199px 0 0 231px; width: 231px; height: 199px;}

		.flea_pr {display: block; position: relative; float: right;}

/* center_banner */
.center_banner {}

/* info */
.info {background: url(../img/info_bg.png) 0 100% repeat-x, #f4f5f7;}
	.info h6 {font-size: 30px; font-weight: 400; line-height: 30px; padding: 32px 0 2px 0;}
	.info_uls {overflow: hidden; padding-bottom: 90px;}
		.info_item {display: block; position: relative; float: left; width: 230px; margin: 28px 0 18px 20px;}
		.info_item:first-child {margin-left: 0;}
		.info_item:last-child {margin-right: 0;}
		.info_item h5 {font-size: 18px; line-height: 26px; font-weight: 400; margin: 4px 4px;}
		.info_item ul {line-height: 20px; color: #668ba7; list-style: disc; padding: 10px 0 0 25px; border-top: 1px solid #d0d0d2;}
		.info_item li {margin: 0 0 10px -8px;}
		.info_item a {font-size: 14px; color: #668ba7;}
		.info_item a:hover {text-decoration: none;}

		.forum_first {padding-bottom: 0;}

/* auto_wrapper */
.auto_wrapper

/* sales_wrapper */
.sales_wrapper {}

/* medicine_wrapper */
.medicine_wrapper {}
	.medicine {overflow: hidden;}
		.med_main {display: block; position: relative; float: left; width: 480px;}
		.med_main h2 {font-weight: 400; font-size: 24px; line-height: 28px; color: #000; margin: 17px 0;}
		.med_main h2 b {font-size: 14px; color: #81b048;}
		.med_main p {font-family: 'Open Sans', sans-serif; font-size: 14px; line-height: 20px; color: #676767; margin-bottom: 20px;}

		.med_middle {display: block; position: relative; float: left; width: 232px; margin-left: 20px;}
			.middle_item {}
			.middle_item h2 {font-weight: 400; font-size: 18px; line-height: 22px; color: #000; margin: 17px 0;}
			.middle_item h2 b {font-size: 12px; color: #81b048;}

		.med_small {display: block; position: relative; float: right; width: 230px; margin: -12px 0 18px 0px;}
		.med_small li {background: url(../img/adv_icon.png) 0 0 no-repeat; margin-top: 12px; padding-left: 100px; height: 74px; padding-bottom: 24px; border-bottom: 1px solid #676767;}
		.med_small li:last-child {border-bottom: 0 none;}
		.med_small a {font-size: 12px; line-height: 22px; color: #676767; text-decoration: none;}

/* footer */
.footer




