@charset "utf-8";

/* fonts import */
@import url(http://fonts.googleapis.com/css?family=Cuprum:400,400italic,700,700italic&subset=latin,cyrillic);

/* reset by medic */
* {padding:0; margin:0;}
img {border:0 none;}
div {display:block; position:relative;}
ul {list-style: none;}
.hidden {display: none;}
.clr:after {display:none; position:relative; content:' '; color:transparent; font-size:0; line-height:0; clear:both;}

body {background: #000; font-family: 'Cuprum', sans-serif; font-weight: 400;}

/* wrapper */
.wrapper {width: 980px; margin: 0 auto; background: #fff;}

/* up_banner */
.up_banner {width: 980px; height: 89px;}

/* main_nav */
.main_nav {overflow: hidden;}
	.main_nav ul {text-align: center; background-color: #f3f5f6; border-bottom: 1px solid #fff;}
	.main_nav li {display: inline-block; text-align: center; padding: 0 24px; border-right: 1px solid #e8e8e8;}
	.main_nav li:first-child {border-left: 1px solid #e8e8e8;}
	.main_nav a {display: block; position: relative; text-decoration: none; font-size: 14px; line-height: 36px; height: 36px; color: #000;}
	.main_nav a:hover {background-color: #fdfdfd;}

/* header */
.header {overflow: hidden; background-color: #d9e69a;}
	.header .h_logo {display: block; position: relative; float: left; margin: 42px 38px 17px 0;}

	.header .h_search {display: block; position: relative; float: left;}
	.header .h_search ul {margin-top: 18px;}
	.header .h_search li {display: inline-block; text-align: center;}
	.header .h_search a {display: block; position: relative; padding: 0 10px; text-decoration: none; font-size: 11px; line-height: 21px; height: 21px; color: #a1ad69;}
	.header .h_search a:hover {}
	.header .h_search .h_active {background-color: #a1ad69; color: #fff;}

	.header .h_search form {}
	.header .h_search form .h_field {width: 452px; height: 30px; line-height: 30px; font-size: 12px; font-style: italic; color: #c4c4c4; padding-left: 10px; border: 1px solid #a1ad69;}
	.header .h_search form .h_find {margin-left: -5px; height: 29px; cursor: pointer; padding: 0 12px; font-size: 14px; color: #fff; background-color: #7bad3e; border: 1px solid #a1ad69;}

	.header .sign_wrapper {display: block; position: relative; float: right; overflow: hidden; margin-top: 40px;}
	.header .sign_wrapper .h_sign {display: block; position: relative; float: left; border: 1px solid #7c874b;}
	.header .sign_wrapper .h_sign a {text-decoration: none; color: #7c874b; background: url(../img/lock.png) 10px 8px no-repeat; font-size: 14px; line-height: 28px; height: 28px; padding: 7px 10px 7px 34px;}
	.header .sign_wrapper .h_or {display: block; position: relative; float: left;}
	.header .sign_wrapper .h_or p {margin: 0 10px; line-height: 30px; height: 30px; font-size: 14px; color: #7c874b;}
	.header .sign_wrapper .h_reg {display: block; position: relative; float: left;}
	.header .sign_wrapper .h_reg a {text-decoration: none; color: #fff; background: url(../img/key.png) 7px 8px no-repeat, #ff8d0f; font-size: 14px; line-height: 30px; height: 30px; padding: 7px 10px 7px 30px;}

/* context_adv */
.context_adv

/* news_wrapper */
.news_wrapper

/* market_wrapper */
.market_wrapper

/* center_banner */
.center_banner

/* info */
.info

/* auto_wrapper */
.auto_wrapper

/* sales_wrapper */
.sales_wrapper

/* medicine_wrapper */
.medicine_wrapper

/* forum_wrapper */
.forum_wrapper

/* footer */
.footer




